{
  "presets": ["@babel/env"],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "env": {
    "production-esm": {
      "presets": [
        ["@babel/env", { "modules": false }]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "regenerator": true }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
